[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-registration = "*"
psycopg2-binary = "*"
gunicorn = "*"
factory-boy = "*"
ipython = "*"
django-redis = "*"

[requires]
python_version = "3.7"
